<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ socialImage }}
    {% block metaContent %}
    {% include "partials/meta-info.html" %}
    {% endblock %}    
    <style>
      {% include "css/main.html" %}
    </style>
    <link href="mailto:joelamyman@gmail.com" rel="me">
    {% include "partials/webmention-links.html" %}
  </head>
  <body>
    {% include "partials/site-head.html" %}

    <main>
      <h1 class="u-visually-hidden">{{ title }}</h1>

      {% block content %}{% endblock %}
    </main>

    {% include "partials/site-footer.html" %}
  </body>
</html>