---
title: "Joe Lamyman's Photos"
summary: "Personal image sharing website for Joe Lamyman."
---

{% extends "layouts/base.html" %}

{% block content %}
{% include "partials/bio.html" %}

{% for item in studio %}
  {{ item }}
{% endfor %}

<div class="c-postGrid">
  {% for post in posts %}
      {% if post.url and post.alt and post.description %}
        
        <div class="b-post">
          <figure>
            {% image post.url, "" , post.alt %}
          </figure>
          <a class="b-post__link" href="posts/post-{{ (posts.length-1) - (loop.index-1) }}/">View this post <span class="u-visually-hidden">from {{ helpers.formatDate(post.time) }}, Post {{ (posts.length-1) - (loop.index-2) }}</span></a>
        </div>
      {% endif %}
  {% endfor %}
</div>
{% endblock %}