---
title: A photo posted by Joe Lamyman
pagination:
  data: posts
  size: 1
  alias: postInfo
  reverse: true
permalink: "/posts/post-{{ pagination.pageNumber }}/index.html"
---
{% extends "layouts/base.html" %}

{% block metaContent %}
  {% set metaTitle = postInfo.description %}
  {% set socialImage = postInfo.url %}
  {% set socialImageAlt = postInfo.alt %}
  {% include "partials/meta-info.html" %}
{% endblock %}  

{% block content %}
<a href="../.."><span aria-hidden="true">⬅ </span>Back to all posts</a>

<div class="u-flow">
  {% for post in pagination.items %}
    {% if post.url and post.alt and post.description %}
      {% set socialImage = post.url %}
      <div class="b-specific-post">
        <figure class="b-specific-post__figure">
          <img class="b-specific-post__image" src="{{ post.url }}" alt="{{ post.alt }}">
          <figcaption>{{ post.description }}</figcaption>
        </figure>
        <div class="b-posted-by">
          <h2 class="u-font-size-600 u-font-weight-normal">Posted by</h2>
          <div class="b-posted-by__user-information">
            <img class="b-posted-by__avatar" src="https://res.cloudinary.com/lamygram/image/upload/v1613229148/portrait_jl.png" alt="Portrait of Joe Lamyman, smiling with his brown hair swept to the side. The photo captures Joe from the torso up. Joe is wearing a white t-shirt with a rounded logo, feature the letters 'im' on the left breast. Joe is stood in front of a large bush, covering the background. A pink and purple filter has been applied to the photo.">
            <p class="u-font-size-500 u-font-weight-bold b-posted-by__name">Joe Lamyman</p>
          </div>
          <p>Posted {{ helpers.formatDate(post.time) }}</p>
        </div>
      </div>
      <section>
        <h2 class="u-font-size-600 u-font-weight-normal">Webmentions</h2>
        {% set webmentionUrl %}{{ page.url | url }}{% endset %}
        {% include 'partials/webmention-section.html' %}
      </section>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}