<article class="c-row b-biography u-center">

  {% image "https://res.cloudinary.com/lamygram/image/upload/c_scale,h_300,q_auto:good/v1613229148/portrait_jl.png",
  "b-biography__image", "Portrait of Joe Lamyman, smiling with his brown hair swept to the side. The photo captures Joe
  from the torso up. Joe is wearing a white t-shirt with a rounded logo, feature the letters 'im' on the left breast.
  Joe is stood in front of a large bush, covering the background. A pink and purple filter has been applied to the
  photo." %}
  <div class="b-biography__content">
    <h2 class="u-font-size-700">Joe Lamyman</h2>
    <p class="b-biography__location">🗺 York, UK</p>
    <p class="b-biography__link">🔗 <a href="https://joelamyman.co.uk">joelamyman.co.uk</a></p>
    <p>I am an accessibility specialist/developer/person currently working for TetraLogical in beautiful York, UK. My
      work focuses around trying to make experiences personalised towards the needs and goals of individuals.</p>
  </div>
</article>