<footer class="b-footer">
  <ul class="b-footer__list">
    <li>Lamygram 2023</li>
    <li>
      <a href="/what-is-this/">What is this?</a>
    </li>
    <li>
      <a href="https://indieweb.org/">IndieWeb</a>
    </li>
    <li>
      <a rel="me" href="https://indieweb.social/@JoeLamyman">@JoeLamyman on Mastodon</a>
    </li>
  </ul>
</footer>