<article class="b-webmention {% if webmention|isOwnWebmention %}webmention--own{% endif %}" id="webmention-{{ webmention['wm-id'] }}">
  <div class="b-webmention__header">
    {% if webmention.author %}
      {% if webmention.author.photo %}
      <img class="b-webmention__avatar" src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" loading="lazy">
      {% else %}
      <img class="b-webmention__avatar" src="{{ '/img/avatar.svg' | url }}" alt="">
      {% endif %}
      <strong class="b-webmention__name">{{ webmention.author.name }}</strong>
    {% else %}
      <strong class="b-webmention__name">Anonymous</strong>
    {% endif %}

    {% if webmention.published %}
        <time class="b-webmention__date u-font-weight-light u-font-size-400" datetime="{{ webmention.published }}">
            {{ webmention.published | readableDateFromISO }}
        </time>
    {% endif %}
  </div>
  <p class="b-webmention__text">
    {{ webmention.content.text | truncate }}
  </p>
  {% if webmention.url %}
  <a class="b-webmention__url" href="{{ webmention.url }}" rel="noopener noreferrer">
    View source <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="10px"><path fill="currentColor" d="M432 320h-32a16 16 0 00-16 16v112H64V128h144a16 16 0 0016-16V80a16 16 0 00-16-16H48a48 48 0 00-48 48v352a48 48 0 0048 48h352a48 48 0 0048-48V336a16 16 0 00-16-16zM488 0H360c-21.37 0-32.05 25.91-17 41l35.73 35.73L135 320.37a24 24 0 000 34L157.67 377a24 24 0 0034 0l243.61-243.68L471 169c15 15 41 4.5 41-17V24a24 24 0 00-24-24z" /></svg>
  </a>
  {% endif %}
</article>