<div class="webmentions b-webmentions-content" id="webmentions">

  {% set mentions = webmentions | getWebmentionsForUrl(metadata.url + webmentionUrl) %}
  {% set reposts = mentions | webmentionsByType('repost-of') %}
  {% set repostsSize = reposts | size %}
  {% set likes = mentions | webmentionsByType('like-of') %}
  {% set likesSize = likes | size %}
  {% set replies = mentions | webmentionsByType('in-reply-to') | sortWebmentions  %}
  {% set repliesSize = replies | size  %}
  {% set mentionOf = mentions | webmentionsByType('mention-of') | sortWebmentions  %}
  {% set mentionOfSize = replies | size  %}

{% if likesSize > 0 %}
<div class="webmentions__facepile">
  <h3 class="u-font-size-500 u-font-weight-normal">{{ likesSize }}
    Like{% if likesSize != 1 %}s{% endif %}</h3>

    <label class="u-visually-hidden" id="js-liked-by">Liked by</label>

    <div class="b-webmention-avatar-list">
    {% for webmention in likes %}

      {% if webmention.url != "" %}
      <a aria-labelledby="js-liked-by" class="" href="{{ webmention.url }}" rel="noopener noreferrer">
      {% endif %}

      {% if webmention.author.photo %}
      <img class="b-webmention-avatar-list__icon" src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" loading="lazy">
      {% else %}
      <img class="b-webmention-avatar-list__icon" src="{{ '/img/avatar.svg' | url }}" alt="">
      {% endif %}

      {% if webmention.url != "" %}
        <span class="u-visually-hidden">{{ webmention.author.name }} on Twitter</span></a>
      {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}

{% if repostsSize > 0 %}
<div class="webmentions__facepile">
  <h3 class="u-font-size-500 u-font-weight-normal">{{ repostsSize }} Retweet{% if repostsSize != 1 %}s{% endif %}</h3>

    <label class="u-visually-hidden" id="js-retweeted-by">Retweeted by</label>

    <div class="b-webmention-avatar-list">
    {% for webmention in reposts %}
      {% if webmention.url != "" %}
      <a aria-labelledby="js-retweeted-by" class="" href="{{ webmention.url }}" rel="noopener noreferrer">
      {% endif %}

      {% if webmention.author.photo %}
      <img class="b-webmention-avatar-list__icon" src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" loading="lazy">
      {% else %}
      <img class="b-webmention-avatar-list__icon" src="{{ '/img/avatar.svg' | url }}" alt="">
      {% endif %}
      {% if webmention.url != "" %}
      <span class="u-visually-hidden">{{ webmention.author.name }} on Twitter</span></a>
      {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}

{% if repliesSize > 0 %}
<div class="webmention-replies">
  <h3 class="u-font-size-500 u-font-weight-normal">{{ repliesSize }} {% if repliesSize == "1" %}Reply{% else %}Replies{% endif %}</h3>

  {% for webmention in replies %}
    {% include 'partials/webmention.html' %}
  {% endfor %}
</div>
{% endif %}

<p>These are <a href="https://indieweb.org/Webmention">webmentions</a> via the <a href="https://indieweb.org/">IndieWeb</a> and <a href="https://webmention.io/">webmention.io</a>.</p>
</div>